:root {
  font-family: sans-serif;
  font-weight: bold;
  overflow: hidden;
  color-scheme: dark;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

span#date {
  font-size: 6rem;
}

span#answer {
  color: red;
}

span#answer.correct {
  color: green;
}

.hidden {
  opacity: 0;
}

form {
  display: flex;
  gap: 1rem;
}

select,
button {
  border-radius: 5px;
  font-size: 1.25rem;
  background-color: rgb(59, 59, 59);
  border-radius: 5px;
  border: 1px solid rgb(133, 133, 133);
  color: rgb(220, 220, 220);
}

button {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

button:hover {
  border-color: white;
  color: white;
}
